In [12]:
data = pd.read_csv('startUp(1).csv')
data.head()

,Unnamed: 0,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,165349.20,136897.80,471784.10,New York,192261.83
1,1,162597.70,151377.59,443898.53,California,191792.06
2,2,153441.51,101145.55,407934.54,Florida,191050.39
3,3,144372.41,118671.85,383199.62,New York,182901.99
4,4,142107.34,91391.77,366168.42,Florida,166187.94

In [13]:
# this is use for duplicating the data
dx = data.copy()

In [14]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       50 non-null     int64
 1   R&D Spend        50 non-null     float64
 2   Administration   50 non-null     float64
 3   Marketing Spend  50 non-null     float64
 4   State            50 non-null     object
 5   Profit           50 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.5+ KB

In [15]:
dx.isnull().sum()

Unnamed: 0         0
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

for i in dx.columns:
    if dx[i].dtypes != 'O':
        dx[[i]] = scaler.fit_transform(dx[[i]])

dx.drop('Unnamed: 0',axis = 1, inplace = True)
dx.head()

   R&D Spend  Administration  Marketing Spend       State    Profit
0   2.016411        0.560753         2.153943    New York  2.011203
1   1.955860        1.082807         1.923600  California  1.999430
2   1.754364       -0.728257         1.626528     Florida  1.980842
3   1.554784       -0.096365         1.422210    New York  1.776627
4   1.504937       -1.079919         1.281528     Florida  1.357740

In [17]:
# drop state because it does satisfy the assumption of linearity
dx.drop('State',axis = 1, inplace = True)
dx.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit'], dtype='object')

In [18]:
# TRAIN AND TEST SPLIT
x = dx.drop('Profit', axis = 1)
y = dx.Profit

from sklearn .model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size = 0.80, random_state = 57)
print(f'xtrain: {xtrain.shape}')
print(f'ytrain: {ytrain.shape}')
print(f'xtest: {xtest.shape}')
print(f'ytest: {ytest.shape}')

xtrain: (40, 3)
ytrain: (40,)
xtest: (10, 3)
ytest: (10,)

In [19]:
# -----------------------MODELLING--------------------------
from sklearn.linear_model  import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error


lin_reg = LinearRegression()

lin_reg.fit(xtrain, ytrain) #---------------------create a linear regression model

#--------cross validation---------------
cross_validate = lin_reg.predict(xtrain)
score = r2_score(cross_validate, ytrain)
print(f'The cross validation Score is: {score.round(2)}')

The cross validation Score is: 0.95

In [20]:
import pickle

# save model
pickle.dump(lin_reg, open('StartUp_Model.pkl', "wb"))